
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
body{
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    background-color: white;
}
    
button{
    padding: 8px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.button1 {
    border-color: white;
}

.button2 {
    border-color: rgb(68, 0, 26);
    font-weight: 800;
    color:rgb(68, 0, 26)
}

.button3 {
    color: white;
    background-color: rgb(142, 0, 69) ;
}
    
button:hover{
    background-color: rgba(240, 128, 128, 0.2);
}
    
.container{
    margin: auto;
}

.list {
    padding: 20px;
    padding-left: 2.5%;
    padding-right: 2.5%
}

.list h2 {
    padding-top: 20px;
}

.list h1 {
    color: rgb(158, 0, 49)
}
    
.nav{
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}
    
.nav h1 {
    padding-left: 60px;
}
    
.navButton {
    margin-right: 60px;  
}
    
.nav button{
    font-family: inherit;
}
    
       
    